#cart-container {
    position: fixed;
    overflow-y: scroll;

    top:0;
    right: 0;

    display: flex;
    align-items: center;
    background-color: transparent;

    height: 100vh;

    z-index: 1000;
}

#cart-container > svg {
    padding: 20px 0;
    border-radius: 4px 0 0 4px;
    background-color: #eb812a;
    color: #fff;
}

#cart-open {
    background-color: #eb812a;
}

#cart {
    height: 100%;
    overflow-y: scroll;
    background: linear-gradient(.55turn,#fff, #ffe6ca);

    transition: width .25s
}

#cart.visible {
    width: 200px;

    padding: 20px;
}

#cart.hidden {
    width:0;
}