.product-image {
    position: relative;
    height: 100px;
    width: 100px;
    overflow: hidden;
}

.product-image > svg {
    position: absolute;
    top: 5px;
    right: 5px;
}

.product-image > img {
    width: 100px;
}

@media screen and (max-width: 480px) {
    .product-image {
        width: 70%;
        height: 70%;
        overflow: hidden;
    }

    .product-image > img {
        width: 100%;
        overflow: hidden;
    }
}
