.edit-product-button {
    background-color: #eb812a;
    border: none;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    color: white;
    margin: 15px 10px;
}

.edit-product-input {
    width: 500px;
    margin-left: 25px;
}

.name-input {
    padding: 2px;
}

.description-input {
    padding: 3px;
    height: 100px;
}

.category-input {
    width: 508px;
    padding: 4px;
}

.price-input-dollar-sign {
    margin-left: 17px;
    padding: 2px;
}

.price-input {
    margin-left: 0px;
    padding: 2px;
}

.product-form-errors {
    color: red;
}

.edit-form-existing-images {
    display: flex;
    flex-direction: row;
}

.edit-form-each-existing-image {
    margin: 25px;
}

@media screen and (max-width: 800px) {
    .edit-form-existing-images {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 650px) {
    .edit-product-input {
        width: 80%;
    }

    .category-input {
        width: 82%;
    }
}
