.create-product-form > .image-input-container {
    margin-top: 10px;
}

.create-product-button {
    background-color: #eb812a;
    border: none;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    color: white;
    margin: 15px 10px;
}

.product-form-errors {
    color: red;
}
