.products-list {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}


.each-product-image {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.each-product {
    padding: 15px;
    border: 1px solid #f0efef;
    background-color: #fdfdfd;
    border-radius: 15px;
}

.each-product-link {
    text-decoration: none;
}

.each-product-info {
    color: black;
}

.products-list button {
    background-color: #eb812a;
    border: none;
    height: 50px;
    width: 150px;
    border-radius: 25px;
    color: white;
    margin: 15px 10px;
    list-style: none;
}

.product-vendor-review-stars {
    display: flex;
    align-items: center;
    gap: 5px;
}
