/* TODO: Add sitewide styles */
* {
    font-family: 'Outfit';
}

h2 {
    font-family: 'Outfit';
    font-weight: 200;
}

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit-Thin.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit-Bold.ttf') format('truetype');
    font-weight: bold;
}

button:hover,
a:hover {
    cursor: pointer;
}

@media (max-width: 768px) {
    html, body {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    #root {
        padding: 5px;
    }
}